.game-container {
    height: 100%;
    width: 100%;
    display: flex; 
    position: relative;
    background-color: lightgreen;
}

.player {
    position: absolute;
    bottom: 5%;
    left: 50%;
    height: 3%;
    width: 10%;
    transform: translate(-50%, 0);
    background-color: lightcoral;
}

.hostile-block {
    position: absolute;
    top: 0;
    height: 2%;
    width: 1%;
    background-color: black;
}

.score-counter {
    position: absolute;
    top: 3%;
    left: 2%;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

.user-input {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    width: 30%;
}

.input-field {
    border: none;
    padding: 3vh;
    box-shadow: 3px 3px 4px 2px rgba(30, 133, 252, 0.1);
    outline: none;
}